
  
  .home-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height:100vh;
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .login-button{
    border-radius:5px;
    padding:10px 20px 10px 20px;
  }
  
  button {
    background-color: #fff;
    color: #3498db;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }

  input{
    font-weight:600;
  }
  
  .signup-link {
    color: #3498db;
    font-weight: 600;
    margin-left:10px ;
  }
  
  
@media (max-width: 600px) {
    h1 {
      font-size: 2em;
    }
  
    p {
      font-size: 1em;
    }
  
    button {
      font-size: 0.8em;
    }
  }
   


