
.movies-container {
    text-align: center;
    overflow: auto;
    height:100vh;
    width:100%;
  }

  ul{
    display:flex;
    flex-direction:column;
    justify-self:center;
    align-items:center;
  }

  .movie-li-item{
    list-style-type: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px black;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    flex-direction: column;
    background-color: #2f74a1;
 }
 @media screen and (min-width:768px) {
    .movie-li-item{
       max-width: 700px;
    }
 }

 
 .movie-detailed-card{
    display: flex;
    padding: 20px 0px;
    width:100%;
 }
 .watch-button{
    width: 100%;
    border-radius: 5px;
    background-color: #5A77FF;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
 }
 .poster{
    width: 150px;
 }
 .votes-container{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    height: 100%;
 }
 .full-detailed-container{
    margin-left: 20px;
    display:flex;
    flex-direction:column;
 }

 .full-detailed-container h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .vote-heading{
    margin: 0px;
 }
 .views-votes{
    color: rgb(16, 16, 127);
    font-weight:600;
 }


 @media  (max-width:768px) {
    .movie-li-item{
        max-width:100%;
     }

    .votes-container{
        display:flex;
        align-items:center;
    }

     .movie-detailed-card{
        display:flex;
        flex-direction:column;
        align-items:center;
     }
 }